@{
    ViewBag.Title = "Authorized";
}

<h2>Authorized</h2>

User @ViewBag.UserId has been granted access. <br />
Access token: @ViewBag.AccessToken.Token <br />
Access secret: @ViewBag.AccessToken.Secret <br />
